/* NAVBAR GLOBAL */
.navbar{
  position:sticky;
  top:0;
  width:100%;
  background:black;
  border-bottom:1px solid #ff0000;
  z-index:999;
}

.navbar-inner{
  max-width:1100px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:14px;
  padding:6px;
}

.navbar-logo{
  height:30px;
  width:auto;
}

.nav-link{
  font-family:'Cinzel', serif;
  color:#d4af37;
  text-decoration:none;
  border:1px solid #ff0000;
  padding:4px 10px;
  font-size:14px;
}

.nav-link:hover{
  background:#ff0000;
  color:black;
}
